body{
    background-color: rgb(10, 10, 10)
}

h2 {
    font-size: 28px;
    color: coral;
}

div,article{
    border-width: 2px;
    border-color: aliceblue;
    border-style: double;
    padding-left: 8px;
    margin: 8px 24px;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

a:hover {
    color: red;
    text-decoration: underline;
  }
  

h2.fonte-azul{
    color: blue;
}

p {
    font-size: 28px;
    color: white
}

li{
    font-size: 18px;
    color:beige;
}

#paragrafo{
    font-size: 28px;
    color: white;
}
#paragrafo2{
    font-size: 28px;
    color: white
}

table {
    font-size: 20px;
    color: white;
}

h1 {
    font-size: 28px;
    color:crimson;
    font-family: 'palletemosaic';
}

.imagem-simbolo{
    max-width: 10%;
    max-height: 10%;
}

@font-face {
    font-family: 'palletemosaic';
    src: url('../fonts/PaletteMosaic-Regular.ttf');
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
}

nav ul li{
    float:left;
}

nav ul li a{
    display: block;
    padding: 8px;
    background-color: transparent;
}